.main-body
  .row
    .large-11.columns
      %h1
        = @classroom.name
      = link_to "Add Students", new_classroom_student_path(@classroom.id)
      = button_to "start quiz", start_quiz_path(classroom_id: @classroom.id)
