.row
  .large-11.columns
    %ul#chat
      = render @messages

    = form_for Message.new, url: messages_path, :method => :post, :remote => true do |f|
      = f.text_field :text
      = f.submit "Send"