<p>Hello <%= @student.email %>,</p>

<p>Your instructor, <%= @classroom.teacher.full_name %>, has created a Quizroom account for you and has invited you to join the Quizroom for <%= @classroom.name %>.</p>

<p>Until you finish your account signup, your temporary password is the first part of your email address (the part before the @).</p>

<p><%= link_to "Click here", "http://localhost:3000/classrooms/#{@classroom.id}" %> to visit your classroom and join in on the fun!</p>

<p>Thanks,<br>
Your Quizroom Team</p>