.row
  .large-11.columns
    %h1
      Complete account sign up
    =form_for @user do |f|
      =f.label 'First Name'
      =f.text_field :first_name
      =f.label 'Last Name'
      =f.text_field :last_name
      =f.label 'Email'
      =f.email_field :email, :readonly => true
      =f.label 'Password'
      =f.password_field :password
      =f.label 'Password Confirmation'
      =f.password_field :password_confirmation
      =hidden_field_tag :redirect, @class_id, id: "redirect_to_class"
      =f.submit