.row
  .large-11.columns
    %h1
      Sign Up for QuizRoom
    =form_for @user do |f|
      =f.hidden_field :teacher, value: true
      =f.label 'First Name'
      =f.text_field :first_name
      =f.label 'Last Name'
      =f.text_field :last_name
      =f.label 'Email'
      =f.email_field :email
      =f.label 'Password'
      =f.password_field :password
      =f.label 'Password Confirmation'
      =f.password_field :password_confirmation
      =f.submit


