%h1 Quiz Name

= link_to "Start The First Question", "#", {id: "start-question", class: "button"}

%section.question
  %h2#question-title

  %h3 Possible Answers:
  %ul#possible-answers

  %h3 Student Answers:
  %ul#chat{ data: { "teacher-channel" => @chat.teacher_channel, "public-channel" => @chat.public_channel} }
    %li.no-answer Noone has submitted an answer.

  = link_to "Next Question", "#", {id: "next-question", class: "button"}
  = link_to "Close Question", "#", {id: "close-question", class: "button"}
= render 'teacher_web_socket.js'
