= content_for :extra_scripts do
  = javascript_include_tag "http://localhost:9292/faye.js"

  :javascript
    $(document).ready( function() {
      var faye = new Faye.Client('http://localhost:9292/faye');

      var publicChannel = $('#chat').data("public-channel");
      faye.subscribe("/#{@chat.public_channel}", function(data) {
        console.log(data);
        $("#chat").append("<li>"+data.sender+": "+data.message+"</li>");
      });

      $("form").on("submit", function() {

        var publishChannel = $("#publish_channel").val();

        faye.publish("/#{@chat.public_channel}", {
          message: $("#message").val(),
          isQuestion: true,
          sender: "Question"

        });
        $("form")[0].reset();
      });
    });
