= javascript_include_tag "http://localhost:9292/faye.js"

:javascript
  $(document).ready( function() {
    var faye = new Faye.Client('http://localhost:9292/faye');

    var channel = $('#chat').data("channel");
    faye.subscribe("/"+channel, function(data) {
      console.log(data);
      $("#chat").append("<li>Question: "+data.message+"</li>");
    });

    $("form").on("submit", function() {

      var publishChannel = $("#publish_channel").val();

      faye.publish("/"+publishChannel, {
        message: $("#message").val()
      });
      $("form")[0].reset();
    });
  });
