%nav.top-bar
  %ul.title-area
    %li.name
      %h1
        =link_to 'QuizRoom', root_path
    %li.toggle-topbar.menu-icon
      %a{:href => "#"}
        %span Menu
  %section.top-bar-section
    %ul.right
      - if current_user
        %li
          = link_to 'logout', logout_path
      - else
        %li
          =link_to 'signup', signup_path
        %li.divider
        %li
          = link_to 'login', login_path
