#side-header
  %h2
    Classrooms
%a.custom-button{href: "/classrooms/new"}
  New Classroom
.class-list
  %ul
    %a{href: "/classrooms/1"}
      %li
        %h3
          English
    %a{href: "/classrooms/1"}
      %li
        %h3
          Math
    %a{href: "/classrooms/1"}
      %li
        %h3
          Computers
    %a{href: "/classrooms/1"}
      %li
        %h3
          Science
    %a{href: "/classrooms/1"}
      %li
        %h3
          Spanish


