#side-header
  %h2
    Classrooms
%a.custom-button{href: "/classrooms/new"}
  New Classroom
.class-list
  %ul
    %li
      %h3
        English
    %li
      %h3
        Math
    %li
      %h3
        Computers
    %li
      %h3
        Science
    %li
      %h3
        Spanish


